
src/RecurringEvents.Domain/bin
src/RecurringEvents.Domain/obj

src/RecurringEvents.Application/bin
src/RecurringEvents.Application/obj

src/RecurringEvents.Infrastructure/bin
src/RecurringEvents.Infrastructure/obj

src/RecurringEvents.Web/bin
src/RecurringEvents.Web/obj

src/RecurringEvents.Remember/bin
src/RecurringEvents.Remember/obj

src/RecurringEvents.Web/RecurringEvents.Web.csproj.user

/.vs/RecurringEvents

